<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs.cs184.kheffernan.bowls">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".HomePageActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserAuthentication.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".UserAuthentication.RegisterActivity"
            android:label="Register" />
        <activity android:name=".AccessBowls"
            android:label="AccessRegister" />
        <activity android:name=".ProfilePage"
            android:label="Profile" />
        <activity android:name=".EditProfile"
            android:label="Edit Profile"/>
        <activity android:name=".CreateOrder.CreateOrderActivity"
            android:label="Create an Order"
            android:theme="@style/CustomTheme"/>
        <activity android:name=".ViewOrders.MyOrders"
            android:label="My Orders"/>
        <activity android:name=".ManagerDashboardActivities.ManagerOrderView"
            android:label="Order Status"/>
        <activity android:name=".ManagerDashboardActivities.OrderDetailActivity"
            android:label="Order Details"/>
        <activity android:name=".CreateOrder.SubmitOrderActivity"
            android:label="Submit Order"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>